In [ ]:
# Q1 Easy
# Count from table for two different things.
# Use filter or use subquery or use sum & case

In [ ]:
# SELECT 
#   COUNT(*) FILTER (WHERE device_type = 'laptop') AS laptop_views,
#   COUNT(*) FILTER (WHERE device_type IN ('tablet', 'phone'))  AS mobile_views 
# FROM viewership;

In [ ]:
# SELECT 
#   SUM(CASE WHEN device_type = 'laptop' THEN 1 ELSE 0 END) AS laptop_views, 
#   SUM(CASE WHEN device_type IN ('tablet', 'phone') THEN 1 ELSE 0 END) AS mobile_views 
# FROM viewership;

In [ ]:
# select 
# (sELECT count(*) as laptop_views FROM viewership
# WHERE device_type = 'laptop') as laptop_views,
# (SELECT count(*) as mobile_views FROM viewership
# WHERE device_type = 'tablet' or device_type ='phone') as mobile_views;

![Alt text](image.png)

![Alt text](image-1.png)

In [ ]:
# Q2
# we can use count in having without using it in select

![Alt text](image-6.png)

![Alt text](image-3.png)

In [ ]:
# Q 3
# left join to find A-B that is entries in a not present in break
# use b.key  is null in where

![Alt text](image-4.png)

In [ ]:
# SELECT p.page_id FROM pages as p
# LEFT JOIN page_likes as pl
# on pl.page_id = p.page_id
# where pl.page_id is null
# order by p.page_id;

In [ ]:
# SELECT page_id
# FROM pages
# EXCEPT
# SELECT page_id
# FROM page_likes;

In [ ]:
# SELECT page_id
# FROM pages
# WHERE page_id NOT IN (
#   SELECT page_id
#   FROM page_likes
#   WHERE page_id IS NOT NULL

In [ ]:
# SELECT page_id
# FROM pages
# WHERE NOT EXISTS (
#   SELECT page_id
#   FROM page_likes AS likes
#   WHERE likes.page_id = pages.page_id
# ;)

In [ ]:
# # Q how to use subquery in from
# Note we cans use same column name

![Alt text](image-5.png)

In [ ]:
# SELECT 
#   tweet_count_per_user AS tweet_bucket, 
#   COUNT(user_id) AS users_num 
# FROM (
#   SELECT 
#     user_id, 
#     COUNT(tweet_id) AS tweet_count_per_user 
#   FROM tweets 
#   WHERE tweet_date BETWEEN '2022-01-01' 
#     AND '2022-12-31'
#   GROUP BY user_id) AS total_tweets 
# GROUP BY tweet_count_per_user;

In [1]:
# extract month

![Alt text](image-7.png)

In [ ]:
# LIKE and other operators

![Alt text](image-8.png)

![Alt text](image-10.png)

In [ ]:
# HAVING

In [ ]:
# # # HAVING VS WHERE
# # we can having having avg() without having that column in select
# In SQL, HAVING can be used to filter aggregated data using multiple conditions, just in the same way WHERE can filter data with multiple conditions.

![Alt text](image-11.png)

In [ ]:
# Can HAVING be used without GROUP BY?
# It's technically possible to have HAVING without GROUP BY in SQL, and in this case HAVING operates the same as WHERE. However, practically speaking, it's super weird to use HAVING in this context. For the most part, you should just use a WHERE clause if trying to filter on non-aggregated values.

In [ ]:
# DISTINCT

In [ ]:
# SELECT DISTINCT manufacturer
# FROM pharmacy_sales;

#VIMP ***

# DISTINCT With Two Columns
# If you include two (or more) columns in a SELECT DISTINCT clause, your results will contain all of the unique pairs of those two columns.

In [ ]:
# You can use DISTINCT with aggregate functions â€“ the most common one being COUNT. Here's an example that finds the number of unique user's who made trades:

# SELECT COUNT(DISTINCT user_id) 
# FROM trades;

![Alt text](image-13.png)

In [ ]:
# ARITHMATIC

In [ ]:
# In addition to querying raw data with SQL, you can also use math expressions to transform column values. Here's an example:

# SELECT particle_speed / 10.0 + speed_offset
# FROM particle_sensor_data
# WHERE (particle_position ^ 2) * 10.0 > 500
# AND sensor_type = 'photon'
# AND measurement_day %  7 = 0;
# Let's dive into each arithmetic operator, one by one.

# SQL Arithmetic Operators
# SQL Addition +
# The + operator adds two numbers.

# SELECT salary + bonus AS total_compensation FROM employees;
# SQL Subtraction -
# The - operator subtracts one column value from another.

# SELECT revenue - expenses AS profit FROM product_sales;
# SQL Multiplication *
# The * operator multiplies two numbers.

# SELECT units_sold * price AS revenue FROM ecomm_orders;
# Note: this is exactly the same * as SELECT * FROM table_name... so don't get confused by *'s two uses!!

# SQL Division /
# The / operator divides the first column value by the number in the 2nd column.

# SELECT country_gdp / population AS gdp_per_capita FROM econ_stats;

![Alt text](image-14.png)

In [ ]:
# Example of having min - max in select using group by..if we use group by min and max operates at group by level

![Alt text](image-15.png)

In [ ]:
# # In below note
# we use where as filter is at row level
# we cannot use alias in where as where gets evaluated first

![Alt text](image-16.png)

In [ ]:
# MATHEMTETCIAL FUNCTIONS

In [ ]:
# ABS(): Calculating Absolute Differences

In [ ]:
# SELECT 
#   date, 
#   ticker,
#   (close-open) AS difference,
#   ABS(close-open) AS abs_difference
# FROM stock_prices
# WHERE EXTRACT(YEAR FROM date) = 2023
#   AND ticker = 'GOOG';

In [ ]:
# ROUND(): Rounding Numbers
# Consider a scenario where you're compiling a report displaying the average closing prices of Apple's stock (ticker: 'AAPL') throughout 2022. To ensure the report's readability, you decide to round the average prices to 2 decimal places.

In [ ]:
# SELECT 
#   ticker,
#   AVG(close) AS avg_close,
#   ROUND(AVG(close), 2) AS rounded_avg_close
# FROM stock_prices
# WHERE EXTRACT(YEAR FROM date) = 2022
# GROUP BY ticker;

In [ ]:
# CEIL() and FLOOR(): Rounding Up and Down
# Now, imagine you're analyzing Facebook's stock performance (ticker: 'META') to identify potential trading ranges.

# We can utilize the CEIL() function to round up and the FLOOR() function to round down to the lowest and highest prices.

# SELECT 
#   date,
#   ticker,
#   high,
#   CEIL(high) AS resistance_level,
#   low,
#   FLOOR(low) AS support_level
# FROM stock_prices
# WHERE ticker = 'META'
# ORDER BY date;

In [ ]:
# POWER(): Calculating Squared Values
# In this scenario, we'll explore the concept of squared values by focusing on the 3 popular tech stocks: Apple ('AAPL'), Google ('GOOG'), and Microsoft ('MSFT'). Although this scenario is simplified for illustrative purposes, it offers a straightforward way to introduce the usage of the POWER() function.

# The POWER() function raises a number to a specified power, allowing us to perform exponential calculations.

# SELECT 
#   date,
#   ticker,
#   close,
#   ROUND(POWER(close, 2),2) AS squared_close
# FROM stock_prices
# WHERE ticker IN ('AAPL', 'GOOG', 'MSFT')
# ORDER BY date;

In [ ]:
# DIVISION

In [ ]:
# # VERY IMP
# n SQL, the division operator / treats integers (whole numbers like 1, -69, 420) differently than in Excel. In SQL, integer division discards the remainder from the output, providing only the integer (whole number) part of the result. This behavior contrasts with Excel, which retains the decimal part.

In [ ]:
# You can still make SQL achieve decimal output with a few tricks such as:

# CAST() function
# multiplying by 1.0
# being explicit with types using ::

In [ ]:
# SELECT 
#   CAST(10 AS DECIMAL)/4,
#   CAST(10 AS FLOAT)/4,
#   10/CAST(6 AS DECIMAL),
#   10/CAST(6 AS FLOAT);

In [ ]:
# SELECT 
#   10/6,
#   10*1.0/6,
#   10/6*1.0,
#   10/(6*1.0);

In [ ]:
# SELECT 
#   10::DECIMAL/4,
#   10::FLOAT/4,
#   10/4::DECIMAL,
#   10/4::FLOAT,
#   10::DECIMAL/6,
#   10::FLOAT/6;