In [ ]:
# Q1 Easy
# Count from table for two different things.
# Use filter or use subquery or use sum & case

In [ ]:
# SELECT 
#   COUNT(*) FILTER (WHERE device_type = 'laptop') AS laptop_views,
#   COUNT(*) FILTER (WHERE device_type IN ('tablet', 'phone'))  AS mobile_views 
# FROM viewership;

In [ ]:
# SELECT 
#   SUM(CASE WHEN device_type = 'laptop' THEN 1 ELSE 0 END) AS laptop_views, 
#   SUM(CASE WHEN device_type IN ('tablet', 'phone') THEN 1 ELSE 0 END) AS mobile_views 
# FROM viewership;

In [ ]:
# select 
# (sELECT count(*) as laptop_views FROM viewership
# WHERE device_type = 'laptop') as laptop_views,
# (SELECT count(*) as mobile_views FROM viewership
# WHERE device_type = 'tablet' or device_type ='phone') as mobile_views;

![Alt text](image.png)

![Alt text](image-1.png)

In [ ]:
# Q2
# we can use count in having without using it in select

![Alt text](image-2.png)

![Alt text](image-3.png)

In [ ]:
# Q 3
# left join to find A-B that is entries in a not present in break
# use b.key  is null in where

![Alt text](image-4.png)

In [ ]:
# SELECT p.page_id FROM pages as p
# LEFT JOIN page_likes as pl
# on pl.page_id = p.page_id
# where pl.page_id is null
# order by p.page_id;

In [ ]:
# SELECT page_id
# FROM pages
# EXCEPT
# SELECT page_id
# FROM page_likes;

In [ ]:
# SELECT page_id
# FROM pages
# WHERE page_id NOT IN (
#   SELECT page_id
#   FROM page_likes
#   WHERE page_id IS NOT NULL

In [ ]:
# SELECT page_id
# FROM pages
# WHERE NOT EXISTS (
#   SELECT page_id
#   FROM page_likes AS likes
#   WHERE likes.page_id = pages.page_id
# ;)

In [ ]:
# # Q how to use subquery in from
# Note we cans use same column name

![Alt text](image-5.png)

In [ ]:
# SELECT 
#   tweet_count_per_user AS tweet_bucket, 
#   COUNT(user_id) AS users_num 
# FROM (
#   SELECT 
#     user_id, 
#     COUNT(tweet_id) AS tweet_count_per_user 
#   FROM tweets 
#   WHERE tweet_date BETWEEN '2022-01-01' 
#     AND '2022-12-31'
#   GROUP BY user_id) AS total_tweets 
# GROUP BY tweet_count_per_user;